//sizes
$header-height: 100px;

//colors
$borderMain: rgba(224, 224, 224, 1);
$borderMob: rgba(132, 104, 104, 0.692);
$backgroundMain: rgba(141, 140, 140, 0.2);
$backgroundPrimary: rgba(102, 204, 128, 0.2);
$backgroundSecondary: rgba(207, 110, 110, 0.2);
