.main {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 200px minmax(100px, 1fr);
  column-gap: 10px;

  @media (max-width: 767px) {
    column-gap: 0;
    row-gap: 20px;
    grid-template: repeat(3, auto) / minmax(100px, 1fr);
  }
}

.glass-applications {
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 4px;
  height: 300px;

  @media (max-width: 767px) {
    grid-row: 1/2;
  }
}
