@import 'styles/variables';

.table-list {
  height: calc(100vh - $header-height);
  overflow: auto;
  padding-right: 8px;

  @media (max-width: 767px) {
    height: auto;
    padding: 15px 10px 15px 10px;

    .css-12u49z-MuiDataGrid-root {
      border-color: $borderMob;
    }

    .css-12u49z-MuiDataGrid-root .MuiDataGrid-withBorderColor {
      border-color: $borderMob;
    }

    &:first-child {
      margin-top: 20px;
      background-color: $backgroundSecondary;
    }

    &:last-child {
      background-color: $backgroundPrimary;
    }
  }

  h2 {
    font-weight: 600;
  }
}
