.table {
  &__title {
    font-size: 18px;
    text-align: center;
    padding: 15px 0 10px 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__wrapper {
    height: 250px;
    width: 100%;
  }
}
